body {
    width: 100%;
    margin: 0;
	background-color: #eeeeee;
}

#background {
    width: 100%;
    background-color: auto;
    padding-bottom: 100px;
}

#nav-bar {
	z-index: 100;
    width: 80%;
    box-shadow: -2px 0 7px #bbbbbb, 2px 0 7px #bbbbbb;
    position: fixed;
    top: 0;
    left: 10%;
    height: 60px;
    background: linear-gradient(#ffffff, #efefef);
    letter-spacing: 3px;
    
}

#nav-bar table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
}

#nav-bar td {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

#nav-bar td a:active {
    background: linear-gradient(#f8f8f8, #efefef);
}

#nav-bar td a {
    display: block;
    height: 100%;
    text-decoration: none;
    padding-top: 10px;
    color: #888888;
    margin-top: 5px;
}

#collage {
	position: relative;
	border: solid 2.5px #666666;
    margin: 60px auto -20px auto;
	background-color: #666666;
}

.collage-pic{
    background-color: #666666;
    position: absolute;
    border: solid 2.5px #666666;
}

.collage-pic > img{
	background-color: #666666;
    min-width: 100%;
    min-height: 100%;
}

#content-strip {
    width: 70%;
	margin: 0 15% 0 15%;
    background: linear-gradient(to right, #ffffff, #eeeeee, #ffffff);
    box-shadow: 10px 0 20px #bbbbbb, -10px 0 20px #bbbbbb;
}

h2, h1, h3, h4, h5 {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

.content {
    min-height: 400px;
    margin-left: 15%;
    margin-right: 15%;
}

.pane-break {
	background: linear-gradient(to right, rgba(255,0,0,0), #777777, rgba(255,0,0,0));
    height: 1px;
    width: 60%;
    margin: 15px 20% 15px 20%;
    
}

#experience .job-about .job-stats * {
    margin: 0 0 15px 0;
}

#experience .job-about > div{
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

#experience .job {
	margin-bottom: 40px;
}

#experience .job .job-about .job-stats {
    width: calc(65% - 4px);
}

#experience .job-logo-div {
    max-width: 35%;
}

#experience .logo {
    box-shadow: 0px 0 7px #bbbbbb;
    max-width: 100%;
    max-height: 100%;
}

#contact {
    text-align: center;
    padding-bottom: 15px;
}

#contact img {
    width: 200px;
    margin: 10px;
}

#portfolio {
	
}

#portfolio a{
	text-decoration: none;
    
}

#portfolio .portfolio-project > a{
	color: inherit;
}

#portfolio .portfolio-project > a *{
	display: inline;
	margin-right: 5px;
}

#portfolio .portfolio-project > a i{
	color: #666666;
}

#test {
	background-image: url('img/pfg_bw.png');
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.6;
	height: 200px;	
}

.bgpic {
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.6;
}